<!DOCTYPE html>
<html lang="en">
<head>
    <title>JK Bất Động Sản | Trang tìm kiếm Bất Động Sản</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="JK Bất Động Sản | Trang tìm kiếm Bất Động Sản tốt nhất miền Trung" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Areas/User/Content/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Areas/User/Content/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Areas/User/Content/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/Areas/User/Content/css/flexslider.css" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="~/Areas/User/Content/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <!--form lien he-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- //web-fonts -->
    <style>
        .content-header {
            font-family: 'Oleo Script', cursive;
            color: #fcc500;
            font-size: 45px;
        }

        .section-content {
            text-align: center;
        }

        #contact1 {
            font-family: 'Teko', sans-serif;
            padding-top: 20px;
            width: 100%;
            width: 100vw;
            height: 550px;
            background: #3a6186; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #3a6186, #89253e); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #3a6186, #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: #fff;
        }

        .contact-section {
            padding-top: 40px;
        }

            .contact-section .col-md-6 {
                width: 50%;
            }

        .form-line {
            border-right: 1px solid #B29999;
        }

        .form-group {
            margin-top: 10px;
        }

        label {
            font-size: 1.3em;
            line-height: 1em;
            font-weight: normal;
        }

        .form-control {
            font-size: 1.3em;
            color: #080808;
        }

        textarea.form-control {
            height: 135px;
            /* margin-top: px;*/
        }

        .submit {
            font-size: 1.1em;
            float: right;
            width: 150px;
            background-color: transparent;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="w3-banner-top">
        <div class="w3-links-top">
            <div class="w3-logo-top">
                <h1><a href="#"><span>JK</span></a></h1>
            </div>
            <div class="w3-social-icon">
                <ul>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <li>
                    <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    <li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- banner -->
        <div class="banner" id="home">
            <div class="banner-info">
                <!-- banner-text -->
                <div class="banner-text">
                    <div class="w3-banner-text">
                        <div class="flexslider">

                            <ul class="slides">
                                <li>
                                    <div class="banner-w3lstext">
                                        <h5>Căn hộ</h5>
                                        <p>Nhanh chóng tìm được căn hộ ưng ý cho chuyến du lịch hay công tác.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="banner-w3lstext">
                                        <h5>Đất</h5>
                                        <p>Tìm được vị trí đắc địa tại Đà Nẵng một cách dễ dàng, nhanh chóng</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="banner-w3lstext">
                                        <h5>Khu nghĩ dưỡng</h5>
                                        <p>Chọn nơi nghĩ dưỡng tốt để tận hưởng cuộc sống sau những giờ làm việc vất vả</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="banner-w3lstext">
                                        <h5>Mặt bằng kinh doanh</h5>
                                        <p>Hàng nghìn mặt bằng kinh doanh đang chuyển nhượng, Hãy tìm ngay để bắt đầu buôn bán</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="banner-w3lstext">
                                        <h5>Mặt bằng văn phòng</h5>
                                        <p>Công ty của bạn đang cần tìm văn phòng mới? Chúng tôi có. Hãy liên hệ với chúng tôi</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="banner-w3lstext">
                                        <h5>Biệt thự</h5>
                                        <p>Bạn là một nhà kinh doanh thành đạt, Hãy tận hưởng cuộc sống với 1 căn biệt thự sang chảnh giữa lòng thành phố Đà Nẵng ngay !!!</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- //banner-text -->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //banner -->
    <!-- top-navigation -->
    <div class="w3top-nav">
        <div class="agile-logo navbar-left">
            <h2><a href="index.html">JK</a></h2>
        </div>
        <div class="w3lsnav-right navbar-left">
            <nav>
                <ul>
                    <li>
                        <div class="item-container">
                            <a href="/User/User/Index"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a>
                        </div>
                    </li>
                    <li>
                        <div class="item-container">
                            <a href="/User/User/Index"><i class="fa fa-picture-o" aria-hidden="true"></i>Bất Động Sản</a>
                        </div>
                    </li>
                    <li>
                        <div class="item-container">
                            <a href="#about"><i class="fa fa-info-circle" aria-hidden="true"></i>Đăng tin</a>
                        </div>
                    </li>

                    <li>
                        <div class="item-container">
                            <a href="/User/User/NhanVien"><i class="fa fa-file-text-o" aria-hidden="true"></i>Đội ngũ</a>
                        </div>
                    </li>
                    <li>
                        <div class="item-container">
                            <a href="#contact"><i class="fa fa-envelope-o" aria-hidden="true"></i>Liên hệ</a>

                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //top-navigation -->
    <!-- about -->
    <!--// about -->
    <!-- main-content -->
    <div class="main-content">
        <!-- gallery -->
        <div class="gallery" id="gallery">
            @RenderBody()
        </div>
        <!--//gallery-->
    </div>
    <!-- //main-content -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="col-md-6 w3ls-property-images w3-pop1-img">
            </div>

            <div class="col-md-6 ins-details">
                <div class="ins-name">
                    <h3>Luxury Villa In California</h3>
                    <h6>$3040.156</h6>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>

                </div>
                <div class="span span1">
                    <p class="left">Number of bedrooms</p>
                    <p class="right">: 3</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span2">
                    <p class="left">Number of bathrooms/ensuites</p>
                    <p class="right">: 5</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span1">
                    <p class="left">Parking</p>
                    <p class="right">: Available</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span4">
                    <p class="left">Size of garden/outside space</p>
                    <p class="right">: 1,433 sqft</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="col-md-6 w3ls-property-images">
            </div>

            <div class="col-md-6 ins-details">
                <div class="ins-name">
                    <h3>Luxury Villa In California</h3>
                    <h6>$250.156</h6>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>

                </div>
                <div class="span span1">
                    <p class="left">Number of bedrooms</p>
                    <p class="right">: 3</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span2">
                    <p class="left">Number of bathrooms/ensuites</p>
                    <p class="right">: 5</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span1">
                    <p class="left">Parking</p>
                    <p class="right">: Available</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span4">
                    <p class="left">Size of garden/outside space</p>
                    <p class="right">: 1,433 sqft</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="col-md-6 w3ls-property-images w3-pop1-img2">
            </div>

            <div class="col-md-6 ins-details">
                <div class="ins-name">
                    <h3>Luxury Villa In California</h3>
                    <h6>$380</h6>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>

                </div>
                <div class="span span1">
                    <p class="left">Number of bedrooms</p>
                    <p class="right">: 3</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span2">
                    <p class="left">Number of bathrooms/ensuites</p>
                    <p class="right">: 5</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span1">
                    <p class="left">Parking</p>
                    <p class="right">: Available</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span4">
                    <p class="left">Size of garden/outside space</p>
                    <p class="right">: 1,433 sqft</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="col-md-6 w3ls-property-images w3-pop1-img3">
            </div>

            <div class="col-md-6 ins-details">
                <div class="ins-name">
                    <h3>Luxury Villa In California</h3>
                    <h6>$410</h6>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>

                </div>
                <div class="span span1">
                    <p class="left">Number of bedrooms</p>
                    <p class="right">: 3</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span2">
                    <p class="left">Number of bathrooms/ensuites</p>
                    <p class="right">: 5</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span1">
                    <p class="left">Parking</p>
                    <p class="right">: Available</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span4">
                    <p class="left">Size of garden/outside space</p>
                    <p class="right">: 1,433 sqft</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <script src="~/Areas/User/Content/js/jquery.filterizr.js"></script>

    <!-- Kick off Filterizr -->
    <script type="text/javascript">
        $(function () {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();
        });
    </script>
    <!-- team -->

    @RenderSection("NhanVien", required: false)
    <!-- //team -->
    <!-- flexisel -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 2
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="~/Areas/User/Content/js/jquery.flexisel.js"></script>
    <!-- //flexisel -->
    <!-- testimonials -->
    <div class="testimonials">
        @RenderSection("BinhLuan", required: false)
    </div>
    <!-- //testimonials -->
    <!-- Modal5 -->
    <div class="modal fade" id="myModalb0" tabindex="-1" role="dialog">
        <div class=" modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>duken ipsum</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <img src="~/Areas/User/Content/images/blog321.jpg" alt="blog-image" />
                    <span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModalb1" tabindex="-1" role="dialog">
        <div class=" modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>duken ipsum</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <img src="~/Areas/User/Content/images/blog1234.jpg" alt="blog-image" />
                    <span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal5 -->
    <div class="modal fade" id="myModalb2" tabindex="-1" role="dialog">
        <div class=" modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>duken ipsum</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <img src="~/Areas/User/Content/images/blog32.jpg" alt="blog-image" />
                    <span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModalb3" tabindex="-1" role="dialog">
        <div class=" modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>duken ipsum</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <img src="~/Areas/User/Content/images/blog123.jpg" alt="blog-image" />
                    <span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModalb4" tabindex="-1" role="dialog">
        <div class=" modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>duken ipsum</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <img src="~/Areas/User/Content/images/blog2222.jpg" alt="blog-image" />
                    <span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModalb5" tabindex="-1" role="dialog">
        <div class=" modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>duken ipsum</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <img src="~/Areas/User/Content/images/blog2.jpg" alt="blog-image" />
                    <span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                </div>
            </div>

        </div>
    </div>

    <!-- //Modal5 -->
    <div class="clearfix"> </div>
    <!-- footer-starts-here -->
    <div class="footer-w3l" id="contact">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-4 footer-grid">
                    <h4>Về chúng tôi</h4>
                    <p>Cho dù bạn quan tâm đến việc mua, bán, cho thuê, dịch vụ tư vấn, đầu tư hoặc bất cứ việc gì khác liên quan đến bất động sản và thị trường bất động sản ở miền Trung Việt Nam– hãy liên hệ với chúng tôi!</p>
                </div>
                <div class="col-md-4 footer-grid">
                    <h4>Liên hệ với chúng tôi</h4>
                    <form action="#" method="post">
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="col-md-4 footer-grid f3">
                    <h4>Địa chỉ</h4>
                    <ul>
                        <li>55 Phan Tứ</li>
                        <li>Phường Mỹ An</li>
                        <li>Telephone : +84122 7957 819</li>
                        <li>FAX : +84 68 68 68 68</li>
                        <li>E-mail : <a href="mailto:vohuuhai2011@gmail.com">vohuuhai2011@gmail</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- footer-ends-here -->
    <!-- copyright-starts-here -->
    <div class="copy-section">
        <div class="container">
            <div class="icons-w3l">
                <ul>
                    <li><a class="facebook" href="https://www.facebook.com/haianhfc.info"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a></li>
                    <li><a class="googleplus" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i><span>Google+</span></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i><span>Dribbble</span></a></li>
                </ul>
            </div>
            <div class="footer-top">
                <p>© 2018 JK Bất Động Sản All rights reserved | Design by <a href="https://www.facebook.com/haianhfc.info">SHYNE</a></p>
            </div>
        </div>
    </div>
    <!-- copyright-ends-here -->
    <!-- carousal -->
    <script src="~/Areas/User/Content/js/slick.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).on('ready', function () {
            $(".center").slick({
                dots: true,
                infinite: true,
                centerMode: true,
                slidesToShow: 2,
                slidesToScroll: 2,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: true,
                            centerMode: false,
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: true,
                            centerMode: false,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    }
                ]
            });
        });
    </script>
    <!-- //carousal -->
    <!-- FlexSlider -->
    <script defer src="~/Areas/User/Content/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- End-slider-script -->


    <script src="~/Areas/User/Content/js/SmoothScroll.min.js"></script>
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/Areas/User/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Areas/User/Content/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Areas/User/Content/js/bootstrap.js"></script>
</body>
</html>