
@{
    ViewBag.Title = "ThongbaoLienHe";
    Layout = "~/Areas/User/Views/Shared/_UserAbout.cshtml";
}

<h2>Bạn đã gữi thư thành công ! Vui lòng đợi phản hồi từ chúng tôi !</h2>

<div>
    @Html.ActionLink("Quay lại Trang chủ", "Index", "User", new { @class = "btn btn-success" }, null)
</div>

