
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Areas/User/Views/Shared/_UserAbout.cshtml";
}

<h2>Chúc mừng Bạn đã đặt thuê Thành Công</h2>

<div>
@Html.ActionLink("Quay lại Trang chủ", "Index","User", new { @class = "btn btn-success" },null)
</div>
